{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <div class="list-group">
        <a href="{% url 'mobile' %}" class ="list-group-item list-group-item-action" aria-current="true">All Mobile </a>
        <a href="{% url 'mobiledata' 'Iphone' %}" class ="list-group-item list-group-item-action" aria-current="true">Iphone</a>
        <a href="{% url 'mobiledata' 'samsung' %}" class ="list-group-item list-group-item-action" aria-current="true">Samsung </a>
        <a href="{% url 'mobiledata' 'below' %}" class ="list-group-item list-group-item-action" aria-current="true">belove 10000 </a>
        <a href="{% url 'mobiledata' 'above' %}" class ="list-group-item list-group-item-action" aria-current="true">above 10000 </a>
        <a href="{% url 'mobiledata' 'POCO' %}" class ="list-group-item list-group-item-action" aria-current="true">POCO </a>
        <a href="{% url 'mobiledata' 'MOTO' %}" class ="list-group-item list-group-item-action" aria-current="true">MOTO </a>
    </div>
  </div>
  <div class="col-sm-8 offset-sm-1">
    {% for product in mobile %}
    <div class="col-sm-4 text-center mb-4">
        <a href="{% url 'product-detail' product.id%}" class="btn">
            <div class="item"> <img src="{{product.product_image.url}}" alt=""height="300" class="">
                <div class="fw-bold">{{product.title}}</div>
                <div class="fw-bold">RS. {{product.discounted_price}}
                <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small></div>
            </div>    
        </a>
    </div>
    {% endfor %}
   Mobile Product List
  </div>
 </div>
</div>
{% endblock main-content %}